@* Created by Frank Carusi*@
@model PARKIT_enterprise_final.Models.Listing

@{
    ViewData["Title"] = "UpdateListing";
}


<div class="update-listing">
<div class="center-container">
    <div class="card form-container">
        <div class="card-header form-header">
            <h1 class="card-title">Update Listing</h1>
        </div>
        <div class="card-body form-body">
            <h4>Listing</h4>
            <hr />
            <form asp-action="UpdateListing" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" type="time" class="form-control" onchange="updateEndTimeMin()"/>
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndTime" class="control-label"></label>
                    <input asp-for="EndTime" type="time" class="form-control" min="@Model.StartTime" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" required placeholder="Price per hour must be greater than $0" pattern="^(?!-).*$" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div>

                    @foreach (var item in ViewBag.Images)
                    {
                        <img src="data:image/PNG;base64, @item" alt="No Image Found" class="img-preview" />
                    }

                    <label asp-for="Files">Change Images</label>
                    <input asp-for="Files" type="file" multiple accept=".png" />

                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-save" />
                    <a asp-action="AllListings" class="btn btn-danger">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>
</div>


