@model PARKIT_enterprise_final.Models.Listing

@{
    ViewData["Title"] = "CreateListing";
}

<h1>Create Listing</h1>

<div>
    <form asp-action="CreateListing" method="post">
        <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="Address.StreetAddress">Street Address</label>
            <input asp-for="Address.StreetAddress" />
        </p>

        <p>
            <label asp-for="Address.City">City</label>
            <input asp-for="Address.City" />
        </p>

        <p>
            <label asp-for="Address.ZipCode">Province</label>
            <input asp-for="Address.ZipCode" />
        </p>

        <p>
            @* Create input for startime and endtime and accept the input through a timespan*@
            <label asp-for="StartTime">Start Time</label>
            <input asp-for="StartTime" type="time"/>
        </p>
        <p>
            <label asp-for="EndTime">End Time</label>
            <input asp-for="EndTime" type="time" />
        </p>
        <p>
            <label asp-for="Price">Price</label>
            <input asp-for="Price" />
        </p>
        <p>
            <label asp-for="IsAvailable">Is Available</label>
            <input asp-for="IsAvailable" type="checkbox" />
        </p>
    </form>
</div>