@{
    ViewData["Title"] = "Home Page";
}


<div class="side-bar">
@*     logic for listings pulled from DB
 *@
</div>
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d191433.18295140262!2d-79.48140730288034!3d43.72906157839049!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1698255803310!5m2!1sen!2sca" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>