@{
    ViewData["Title"] = "Home Page";
}

<div class="side-bar">
	@*logic for listings pulled from DB*@
</div>

<div id="map" class="map"/>

<script>
	async function initMap() {
		// Request needed libraries.
		const { Map } = await google.maps.importLibrary("maps");
		const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

		var map = new Map(document.getElementById('map'), {
			zoom: 12,
			center: { lat: 43.65804053299989, lng: -79.4349384105354 },
			mapId: 'ed84065a5ae2b96e',
		});

		const parkingImg = document.createElement("img");

		parkingImg.src = "https://upload.wikimedia.org/wikipedia/commons/4/49/%28ON%29_Parking_Lot_Sign.png"
		parkingImg.style.width = "25px";

		const listings = [];

		const parkingView = new AdvancedMarkerElement({
			map,
			position: { lat: 43.65804053299989, lng: -79.4349384105354 },
			content: parkingImg,
			title: "A marker using a custom PNG Image",
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJcxh-Z5LjR8UNl3BzyRrDmQap5rx-ZZA&callback=initMap" async defer></script>
